#center1 {
    text-align: center;
}

#center2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.profile-link {
    text-decoration: none;
}

#just1 {
    text-align: justify;
}

#just2 {
    text-align: justify;
}

#just3 {
    text-align: justify;
}

#just4 {
    text-align: justify;
}

#just5 {
    text-align: justify;
}