#center1 {
    text-align: center;
}

#center2 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.profile-link {
    text-decoration: none;
}

#just1, #just5, #just2, #just3, #just4 {
    text-align: justify;
}